/* === Root Variables === */
:root {
    --primary-color: #055a05;
    /*forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* === Universal Reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === General Body & Layout === */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Use max-width for a responsive layout */
header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p,
section {
    padding: 8px;
}

/* === Header & Navigation === */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    /* Space between links */
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

/* === Hero Section === */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text - make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px;
    top: 100px;

}

.hero article img {
    float: right;
    width: 125px;

}

/* === Page Specific Sections === */
.history,
.adventures {
    margin: 2rem 0;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.adventures figure {
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
    border: 1px solid var(--accent1-color);
}